:root {
    --light-brown: #edc591;
    --green: #415e54;
    --white: #fff;
    --black: #111;

}

body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card {
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.overflow {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.row {
    --bs-gutter-x: 0 !important;
}